---
interface Props {
  title: string;
  body: string;
  href: string;
  author: string;
}
import { Image } from 'astro:assets';
import bentoBox from '../images/bentoBox.jpg';
const { href, title, body, author } = Astro.props;
---

<article class="flex flex-col items-start justify-between overflow-hidden rounded-md bg-white p-6 ring-1 ring-gray-300">
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
    <a href={href} class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
  </div>
  <div class="group relative">
    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
      <a href={href}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p class="mt-2 line-clamp-3 text-sm md:text-base leading-6 text-gray-600">
      {body}
    </p>
  </div>
  <div class="relative mt-4 flex items-center gap-x-2">
    <Image src={bentoBox} alt="A bird sitting on a nest of eggs." class="size-7 md:size-9 rounded-full bg-gray-50" />
    <div class="text-xs md:text-sm">
      <p class="font-semibold text-gray-900">
        <a href={href}>
          <span class="absolute inset-0"></span>
          {author}
        </a>
      </p>
      <p class="text-gray-600 lowercase">Some random dude.</p>
    </div>
  </div>
</article>
