---
import Hamburger from '../components/Hamburger.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Pagination from '../components/Pagination.astro';
const { frontmatter } = Astro.props;
---

<head>
  <title>{frontmatter.title}</title>
</head>
<body class="bg-zinc-50/50">
  <main class="prose container lg:max-w-[120ch] lg:mx-auto">
    <Hamburger title={frontmatter.title} />
    <article>
      <BlogHeader Headline={frontmatter.title} Author={frontmatter.author} Supporting={frontmatter.description} />
      <hr class="my-4" />
      <slot />
    </article>
    <Pagination/>
  </main>
</body>

<style is:global>
  @font-face {
    font-family: 'Golos Text';
    src: url('/fonts/GolosText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: 'Golos Text', sans-serif;
  }
</style>
