---
import Hamburger from '../components/Hamburger.astro';
const { frontmatter } = Astro.props;
import '../styles/global.css';
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{frontmatter.title}</title>
</head>
<body class="bg-zinc-50/50">
  <main class="prose mx-auto md:max-w-[90ch] p-4">
    <Hamburger title={frontmatter.title} />
    <article class="">
      <section class="space-y-3">
        <p class="m-0 p-0 text-brand-600">Author: {frontmatter.author}</p>
        <h1 class="mt-2 text-chicago-900">{frontmatter.title}</h1>
        <p class="mt-6 text-chicago-900 ">{frontmatter.description}</p>
      </section>
      <hr class="my-4" />
      <div class="prose max-w-[120ch]">
        <slot />
      </div>
    </article>
    <nav role="navigation" aria-label="Pagination" class="prose mt-6">
      <a href="/">Go Home</a>
    </nav>
  </main>
</body>

<style>
</style>
