---
import Hamburger from '../components/Hamburger.astro';
import BlogHeader from '../components/BlogHeader.astro';
const { frontmatter } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{frontmatter.title}</title>
</head>
<body class="bg-zinc-50/50">
  <main class="container mx-auto max-w-[120ch]">
    <Hamburger title={frontmatter.title} />
    <article>
      <BlogHeader Headline={frontmatter.title} Author={frontmatter.author} Supporting={frontmatter.description} />
      <hr class="my-4" />
      <div class="prose max-w-[120ch]">
        <slot />
      </div>
    </article>
    <nav role="navigation" aria-label="Pagination" class="prose mt-6">
      <a href="/">Go Home</a>
    </nav>
  </main>
</body>

<style is:global>
  @font-face {
    font-family: 'Golos Text';
    src: url('/fonts/GolosText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
  }
</style>
