---
import Hamburger from '../components/Hamburger.astro';
import BlogHeader from '../components/BlogHeader.astro';
const { frontmatter } = Astro.props;
---

<head>
  <title>{frontmatter.title}</title>
</head>
<body>
  <main class="">
    <Hamburger title={frontmatter.title} />
    <article class="container max-w-[120ch] prose">
      <BlogHeader Headline={frontmatter.title} Author={frontmatter.author} Supporting={frontmatter.description} />
      <hr class="my-4" />
      <slot />
    </article>
  </main>
</body>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>
